@charset "UTF-8";
/*---------------------*\
 * 搜索列表
\*---------------------*/ 
.textroot{
    position: relative !important;display: table;float: left;background: #FFF;
    padding: 0 4px !important;font-size: 0 !important;line-height: 32px;border: #ddd 1px solid;
}
.textroot> ol{
    display: inline-block;vertical-align: middle;font-size: 0;margin: 0;
}
.textroot> ol li{
    display: inline-block;vertical-align: middle;font-size: 14px;border-radius: 4px;
    background: #F7F7F7;color: #666; padding: 0 14px; margin: 0 4px; line-height: 28px;
    position: relative;cursor:pointer;
}
.linkage> ol li{margin: 0;border-radius: 0;}
.linkage> ol li:before{content: '> ';color: #FFBA00;font-family: '宋体';font-weight: bold;transition: all 0.2s ease;}
.textroot> ol li:hover{padding: 0 20px 0 8px;transition: all 0.2s ease;}
.textroot> ol li:hover:after {
    content: '×';position: absolute;right: 0;top:0; color: #FFF;background: #BBB;padding: 0 4px;height: 100%;
}
.textroot> ol li input{display: none;}
.textroot> ol li.start{background: transparent;pointer-events:none;width: 36px;margin: 0;padding: 0;}
.textroot> ol li.start input{display: inline;visibility:hidden;position: absolute;}
.textroot .text{
	display: inline-block;vertical-align: middle;
	position: relative;height: 28px;
}
.textroot input[type=text]{
    width: 170px; height: 28px;line-height: 28px;margin: 0 !important;padding: 0 10px;outline:none;border: none;
    font-size: 16px;position: relative;z-index: 98;display: block;box-shadow:none;
}
.soso {
    display: none; width: 200px; height: 72px;padding: 32px 0 36px 0; overflow: hidden; background: #FFFFFF;
    position: absolute; left: -2px;top: -5px;z-index: 99;white-space:normal;
    border: #E5E5E5 1px solid;border-radius: 0;box-shadow:2px 2px 8px rgba(0,0,0,0.2);
    *word-spacing:-1px;font-size: 0; text-align: left;
}
.soso li{
    display: block;white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;
    font-size: 14px; word-spacing:normal; letter-spacing: normal;border-bottom: #F2F2F2 1px solid;
    color: #2B489D; padding: 0 10px; margin: 2px 4px; line-height: 32px;cursor:pointer;
}
.soso li:hover{color: #FFF; background: #49567C;}
.soso li.active{color: #BBB; background: #EDEDED;cursor:default;}
.textroot .more{
    display: none; width: 190px; height: 32px; line-height: 32px; text-align: center;font-size: 16px;
    background: #E5E5E5; color: #777; cursor: pointer; position: absolute; left: 4px;top: 100px;z-index: 99;
}
.sosobg{position: fixed;left: 0;top: 0; z-index: 1;width: 100%;height: 100%;}